@inherits LayoutComponentBase

<body class="login" oncontextmenu="return true;">
<main>
    <link href="css/login.css" rel="stylesheet" />
<div class="col-12">
    <br /><br />
    <ErrorBoundary>
        @Body
    </ErrorBoundary>
</div>
</main>
</body>